<!DOCTYPE html>
<html
  class="
    overflow-y-scroll
    scroll-smooth
    scroll-pt-16
    scrollbar-gutter-stable
    [&:has(dialog[open],#the-main-nav,#the-lang-nav)]:overflow-hidden
  "
  dir="ltr"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Tipping someone with bitcoin has never been so easy. #gentleorangepilling by Satoshi Engineering" />
    <title><%= env.VITE_DEFAULT_DOCUMENT_TITLE %></title>

    <link rel="canonical" href="<%= env.VITE_CANONICAL_URL_ORIGIN %>">

    <link rel="alternate" href="<%= env.VITE_CANONICAL_URL_ORIGIN %>" hreflang="x-default">
    <link rel="alternate" href="<%= env.VITE_CANONICAL_URL_ORIGIN %>/de" hreflang="de">
    <link rel="alternate" href="<%= env.VITE_CANONICAL_URL_ORIGIN %>/en" hreflang="en">
    <link rel="alternate" href="<%= env.VITE_CANONICAL_URL_ORIGIN %>/es" hreflang="es">
    <link rel="alternate" href="<%= env.VITE_CANONICAL_URL_ORIGIN %>/he" hreflang="he">
    <link rel="alternate" href="<%= env.VITE_CANONICAL_URL_ORIGIN %>/ru" hreflang="ru">
    <link rel="alternate" href="<%= env.VITE_CANONICAL_URL_ORIGIN %>/hi" hreflang="hi">
    <link rel="alternate" href="<%= env.VITE_CANONICAL_URL_ORIGIN %>/id" hreflang="id">

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" href="/src/assets/css/main.css" />
  </head>
  <body>
    <div id="app">
      <div class="grid justify-items-center text-center min-h-screen grayscale">
        <div class="max-w-3xl w-full px-4">
          <div class="mt-18 text-6xl">
            ⚡
          </div>
          <h1 class="text-3xl my-6 first:mt-0 last:mb-0 font-semibold">
            Lightning TipCards
          </h1>
          <p>by <a href="https://satoshiengineering.com" target="_blank">Satoshi Engineering</a></p>
        </div>
      </div>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
