<!DOCTYPE html>
<html
  class="overflow-y-scroll"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tipping someone with bitcoin has never been so easy. #gentleorangepilling by Satoshi Engineering" />
    <title><%= env.VITE_DEFAULT_DOCUMENT_TITLE %></title>

    <link rel="canonical" href="<%= env.VITE_CANONICAL_URL_ORIGIN %>">

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" href="/src/assets/css/main.css" />
  </head>
  <body>
    <div id="app">
      <div class="grid justify-items-center text-center min-h-screen">
        <div class="max-w-3xl w-full px-4">
          <div class="mt-18 text-6xl">
            ⚡
          </div>
          <h1 class="text-3xl my-6 first:mt-0 last:mb-0 font-semibold">
            Lightning TipCards
          </h1>
          <p>by <a href="https://satoshiengineering.com" target="_blank">Satoshi Engineering</a></p>
          <h2 class="text-3xl mt-10 font-semibold">We'll be back soon!</h2>
          <p class="my-4">We are currently performing planned maintenance and will be back online shortly.</p>
          <p class="my-4">Sorry for any inconvenience.</p>
        </div>
      </div>
    </div>
  </body>
</html>
